<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <title>AutomobilesForSale.com</title>
    </head>
    <body>
        {% load static %}
        <nav class="py-6 px-2 flex justify-between items-center border-b border-gray-200">
            <h1 class="logo" style="font-size: 2em; font-weight: bold;">AutomobilesForSale</h1>
            <div class="ml-auto flex items-center space-x-4 ">
                <a href="{% url 'index' %}" class="text-2xl font-semibold hover:text-gray-500">Home</a>
                <a href="{% url 'ad_search_form' %}" class="text-2xl font-semibold hover:text-gray-500">Search</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'ad_new' %}" class="py-3 px-6 text-lg font-semibold border-2 border-teal-500 text-teal-500 rounded-xl hover:bg-teal-700 hover:text-white">New Ad</a>
                    <div class="relative inline-block text-left">
                        <button id="dropdownButton" class="inline-flex items-center rounded-xl font-semibold px-6 py-2.5 border-2 border-teal-500 text-lg text-teal-500 hover:bg-teal-700 hover:text-white focus:outline-none">
                            {% if request.user.userprofile.profile_image %}
                                <img src="{{ request.user.userprofile.profile_image.url }}" class="block w-8 h-8 object-cover rounded-full">
                            {% else %}
                                <img src="{% static 'images/default_profile_image.png' %}" class="block w-8 h-8 object-cover rounded-full " >
                            {% endif %}
                            <span class="ml-2">{{ request.user.username }}</span>

                            <svg class="-mr-1 ml-2 h-8 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
                                <a href="{% url 'profile' username=request.user.username %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your Profile</a>
                                <a href="{% url 'my_ads' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">My Ads</a>
                                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'sign_up' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                    <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Login</a>
                {% endif %}
            </div>
        </nav>
        
    </body>
    <body>
        <main>
            {% block content %} 
            {% endblock %}
            {% block scripts %}
            {% endblock %}
            <script>
                const dropdownButton = document.getElementById('dropdownButton');
                const dropdownMenu = document.getElementById('dropdownMenu');

                dropdownButton.addEventListener('click', function() {
                    dropdownMenu.classList.toggle('hidden');  
                });
                window.addEventListener('click', function(e) {
                    if (!dropdownButton.contains(e.target)) {
                        dropdownMenu.classList.add('hidden');
                    }
                });
            </script>
        </main>
    </body>
</html>
