{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if ads %}
<div class="px-3 py-6 bg-gray-100 -xl">
    <h2 class="mb-12 text-2xl text-center">Your Ads</h2>
    <div class="space-y-6 max-w-screen-3xl"> 
        {% for ad in ads %}
        <div class="ad-container flex items-start bg-white p-5 rounded-lg shadow-lg ">
            {% if ad.car_image %}
            <div class="ad-image mr-6">
                <img src="{{ ad.car_image.url }}" alt="Car Image" class="max-w-xs rounded-lg">
            </div>
            {% else %}
            <div class="ad-image mr-6">
                <img src="{% static 'images/no_photo.jpg' %}" alt="Car Image" class="max-w-xs rounded-lg">
            </div>
            {% endif %}
            <div class="ad-details">
                <a href="{% url 'ad_view' pk=ad.id %}">
                    <h2 class="text-2xl font-semibold">{{ ad.title }}</h2>
                    <p class="text-lg ">Price: ${{ ad.price }}</p>
                    <p class="text-lg ">Year of Manufacture: {{ ad.year }}</p>
                    <p class="text-lg ">Location: {{ ad.location }}</p>

                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h1 class="mb-12 text-2xl text-center">You have no ads</h1>
{% endif %}
{% endblock %}